@font-face {
    font-family: "SpratCndBold";
    src: url("../fonts/SpratCndBold.woff2") format("woff2"),
        url("../fonts/SpratCndBold.woff") format("woff");
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --doc-height: 100%;
    --bg-color: #fff;
    --txt-color: #1d1d1d;
    --acc-color: #dbdbdb;
    --header: 56px;
    --sidenav: 56px;
    --main-width: calc(100vw - 57px);
    --txt-large: calc(6vw + 1rem);
    --txt-medium: 1.6rem;
    --txt-small: 1rem;
    --txt-ui: .8rem;
    --p-gap: 1rem;
    --marg-s: 2rem;
    --marg-m: 4rem;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: "Space Grotesk", sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.3;
    color: var(--txt-color);
    -webkit-animation: fadeIn 1.5s ease-in 1;
    animation: fadeIn 1.5s ease-in 1;
    cursor: none;
}

a {
    color: inherit;
    cursor: pointer;
}

a:focus,
a:visited {
    color: currentColor;
}

.grid-block a,
.contact-block a {
    border-bottom: solid 1px var(--txt-color);
}

.card-back a {
    border-bottom: solid 1px var(--bg-color);
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bg-color);
    z-index: 1000;
    mix-blend-mode: difference;
    -webkit-transition: width .2s ease, height .2s ease;
    -o-transition: width .2s ease, height .2s ease;
    transition: width .2s ease, height .2s ease;
    pointer-events: none;
}

.site-title {
    font-family: "SpratCndBold";
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2;
    text-transform: lowercase;
}

.site-subtitle {
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
}

.--title-large {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: var(--txt-large);
    line-height: 1;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-limit-before: 4;
    -webkit-hyphenate-limit-after: 2;
    -webkit-hyphenate-limit-chars: 8 4 2;
    -moz-hyphenate-limit-chars: 8 4 2;
    -ms-hyphenate-limit-chars: 8 4 2;
    hyphenate-limit-chars: 8 4 2;
}

.--title-small {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: var(--txt-small);
    line-height: 1.2;
}

.grid-text h3,
.content-text-wrapper h3,
.--txt-medium {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: var(--txt-medium);
    line-height: 1.2;
}

.grid-text p,
.content-text-wrapper p,
.--txt-small {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: var(--txt-small);
    line-height: 1.3;
}

.--txt-ui,
.--txt-caption,
.--txt-footer {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: var(--txt-ui);
}

.--txt-footer {
    line-height: 2;
}

figcaption {
    padding-left: .8rem;
}

.side-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: var(--sidenav);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-right: solid 1px var(--txt-color);
}

.lang-btn {
    position: relative;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    font-weight: 400;
    text-transform: lowercase;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    bottom: var(--sidenav);
    z-index: 5;
}

.lang-btn a {
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

.menu-btn {
    width: 24px;
    height: 24px;
    background-color: var(--txt-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .9s cubic-bezier(0.4, 0.1, 0.4, 1.15);
    transition: -webkit-transform .9s cubic-bezier(0.4, 0.1, 0.4, 1.15);
    -o-transition: transform .9s cubic-bezier(0.4, 0.1, 0.4, 1.15);
    transition: transform .9s cubic-bezier(0.4, 0.1, 0.4, 1.15);
    transition: transform .9s cubic-bezier(0.4, 0.1, 0.4, 1.15), -webkit-transform .9s cubic-bezier(0.4, 0.1, 0.4, 1.15);
}

.menu-btn.scale {
    -webkit-transform: scale(150);
    -ms-transform: scale(150);
    transform: scale(150);
}

.menu-btn,
.close-btn {
    cursor: pointer;
}

.menu {
    width: 100%;
    height: var(--doc-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: var(--sidenav);
    visibility: hidden;
    opacity: 0;
}

.menu-wrapper {
    opacity: 0;
    margin: var(--marg-m);
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.menu-link {
    font-family: "Space Grotesk", sans-serif;
    font-size: calc(2vw + 2rem);
    font-weight: 300;
    line-height: 1;
    color: var(--bg-color);
    text-align: center;
    text-transform: lowercase;
    margin-bottom: .5rem;
}

.menu-link:last-child {
    margin-bottom: 0;
}

.menu-link a {
    color: var(--bg-color);
    -webkit-transition: color .5s cubic-bezier(0.51, 0.03, 0.55, 1.29);
    -o-transition: color .5s cubic-bezier(0.51, 0.03, 0.55, 1.29);
    transition: color .5s cubic-bezier(0.51, 0.03, 0.55, 1.29);
}

.menu-link a:hover {
    color: black;
}

.menu-link a.current {
    border-bottom: solid 1px var(--bg-color);
}

.close-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.close-btn svg {
    stroke: var(--bg-color);
}

.--show-element {
    visibility: visible;
    opacity: 1;
}

.--fade-element {
    opacity: 1;
}

.cover {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--doc-height);
    z-index: 1;
    overflow: hidden;
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
}

.cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.logo h1 {
    font-family: "SpratCndBold", serif;
    font-size: calc(12vw + 4rem);
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
}

.--blur {
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
}

.--blur:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.logo a {
    color: var(--bg-color);
    -webkit-filter: opacity(.75);
    filter: opacity(.75);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
    -webkit-text-stroke: var(--bg-color);
    -webkit-text-stroke-width: 1px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.logo a:hover {
    -webkit-filter: opacity(.95);
    filter: opacity(.95);
}

.logo h2 {
    font-size: 1.4rem;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
    color: var(--bg-color);
    text-align: center;
    white-space: nowrap;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    pointer-events: none;
}

.logo:hover .logo-wording {
    opacity: 1;
}

.header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: var(--header);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: var(--marg-s);
    padding-right: var(--marg-s);
    outline: solid 1px var(--txt-color);
    background: var(--bg-color);
    -webkit-transition: top .75s ease;
    -o-transition: top .75s ease;
    transition: top .75s ease;
}

.header.--up {
    top: -100%;
}

.header.--down {
    top: 0;
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 100%;
    height: auto;
}

.main {
    padding-left: var(--sidenav);
    background-color: var(--bg-color);
    border-top: solid 1px var(--txt-color);
    position: relative;
    z-index: 1;
}

.grid-layout {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: row dense;
    justify-items: stretch;
    align-items: stretch;
    margin-right: -1px;
}

.grid-layout.four-columns {
    grid-template-columns: repeat(4, 25%);
}

.grid-layout.two-columns {
    grid-template-columns: repeat(2, 50%);
}

.--outline {
    position: relative;
    outline: solid 1px var(--txt-color);
    margin-right: 1px;
    margin-top: 1px;
}

.grid-block {
    grid-column: span 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--p-gap);
    padding: var(--marg-s);
}

.grid-span {
    grid-column: span 2;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--p-gap);
    padding: var(--marg-s);
}

.grid-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--p-gap);
}

.grid-text img {
    width: 100%;
    border: solid 1px var(--txt-color);
}

.grid-square {
    min-height: calc(var(--main-width) / 4);
    position: relative;
    grid-column: span 1;
    display: flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.grid-square img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.grid-title {
    text-transform: lowercase;
    padding: var(--txt-medium) var(--marg-s);
    border-bottom: solid 1px var(--txt-color);
}

.grid-list {
    margin-bottom: -1px;
}

.grid-list li {
    padding: var(--txt-small) var(--marg-s);
}

.card {
    min-height: calc(var(--main-width) / 4);
    position: relative;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.card-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--p-gap);
    padding: var(--marg-s);
}

.card-front {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--txt-color);
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.card-back a,
.card-back p {
    color: var(--bg-color);
}

.card:hover>.card-back {
    opacity: 1;
}

.card .card-front a.card-wrapper p {
    color: var(--bg-color);
}

.gallery-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: -1px;
}

.gallery-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4rem;
    padding-top: var(--marg-s);
    padding-right: var(--marg-s);
}

.gallery-btn a,
.gallery-btn svg {
    width: 2rem;
    display: block;
}

.gallery-btn svg {
    cursor: pointer;
    stroke: var(--txt-color);
}

.gallery-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: var(--marg-s);
    width: auto;
    overflow-x: scroll;
    padding: var(--marg-s);
}

.logo-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: var(--marg-s);
    padding: var(--marg-s);
}

.gallery-block::-webkit-scrollbar,
.logo-block::-webkit-scrollbar {
    display: none;
}

.image-wrapper img {
    height: auto;
    max-height: 50vh;
    width: auto;
    border: solid 1px var(--txt-color);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: -webkit-filter .5s ease;
    -webkit-transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

.logo-wrapper img {
    height: 56px;
    border: none;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: -webkit-filter .5s ease;
    -webkit-transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

.logo-wrapper figcaption {
    padding-left: 0;
    text-align: center;
}

.image-wrapper img.--grayscale {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.logo-wrapper img:hover,
.image-wrapper img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: var(--p-gap);
}

.button-ui {
    opacity: 0;
    pointer-events: none;
    position: relative;
    -webkit-transition: all .5s cubic-bezier(0.51, 0.03, 0.55, 1.29);
    -o-transition: all .5s cubic-bezier(0.51, 0.03, 0.55, 1.29);
    transition: all .5s cubic-bezier(0.51, 0.03, 0.55, 1.29);
}

.button-ui svg {
    stroke: var(--txt-color);
}

.button-label {
    text-transform: lowercase;
    margin: 0;
    border-bottom: solid 1px var(--txt-color);
}

.button-label:hover~.button-ui {
    opacity: 1;
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

.contact-block {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--p-gap);
    padding: var(--marg-s);
}

.contact-block .site-title {
    line-height: 1;
}

.contact-block a {
    width: fit-content;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    padding: 8px var(--marg-s);
    margin-right: -1px;
}

.main section h2,
.main section h3,
.main section p,
.main section a,
.main section img {
    opacity: 0;
    transition: opacity 1s ease;
}

.content-section h2,
.content-section h3,
.content-section p,
.content-section a,
.content-section img,
.media-title p {
    opacity: 1 !important;
}

.main section.appear h2,
.main section.appear h3,
.main section.appear p,
.main section.appear a,
.main section.appear img {
    opacity: 1;
}

/* mediapage */

.content-section .gallery-layout.--outline {
    outline: none;
}

.content-section .gallery-block {
    padding-bottom: 0;
}

.content-section .gallery-btn {
    padding-top: 0;
}

.filter-btn,
.all-media-btn {
    border-bottom: solid 1px var(--txt-color);
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
}

.all-media-btn {
    display: none;
}

.filter-clear {
    width: var(--txt-small);
    border: none;
    mix-blend-mode: difference;
    position: absolute;
    top: var(--txt-small);
    right: var(--marg-s);
    opacity: 0;
}

.filter-clear.show-btn {
    opacity: 1;
}

.press-card.unfiltered,
.media-card.unfiltered {
    pointer-events: none;
}

.press-card.filtered,
.media-card.filtered {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.press-card.unfiltered>.card-front,
.media-card.unfiltered>.card-front {
    opacity: .2;
}

.media-card .card-back,
.media-card .card-front {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--p-gap);
    padding: var(--marg-s);
    cursor: pointer;
}

.filter-btn:hover,
.all-media-btn:hover {
    text-indent: .5rem;
}

.filter-btn:hover,
.media-card:hover,
.media-card.highlight {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.filter-btn[data-filter="texte"]:hover,
.filter-btn[data-filter="texte"].filtered,
.filter-btn[data-filter="lecture"]:hover,
.filter-btn[data-filter="lecture"].filtered,
.filter-btn[data-filter="reading"]:hover,
.filter-btn[data-filter="reading"].filtered {
    background: -o-linear-gradient(217deg, #fff, #C28AD1);
    background: linear-gradient(217deg, #fff, #C28AD1);
}

.media-card[data-category="texte"].filtered,
.media-card[data-category="texte"].highlight,
.media-card[data-category="lecture"].filtered,
.media-card[data-category="lecture"].highlight,
.media-card[data-category="reading"].filtered,
.media-card[data-category="reading"].highlight {
    background: -o-linear-gradient(0deg, #fff, #C28AD1);
    background: linear-gradient(0deg, #fff, #C28AD1);
}

.filter-btn[data-filter="video"]:hover,
.filter-btn[data-filter="video"].filtered {
    background: -o-linear-gradient(217deg, #fff, #72A9F1);
    background: linear-gradient(217deg, #fff, #72A9F1);
}

.media-card[data-category="video"].filtered,
.media-card[data-category="video"].highlight {
    background: -o-linear-gradient(0deg, #fff, #72A9F1);
    background: linear-gradient(0deg, #fff, #72A9F1);
}

.filter-btn[data-filter="podcast"]:hover,
.filter-btn[data-filter="podcast"].filtered {
    background: -o-linear-gradient(217deg, #fff, #FF5C61);
    background: linear-gradient(217deg, #fff, #FF5C61);
}

.media-card[data-category="podcast"].filtered,
.media-card[data-category="podcast"].highlight {
    background: -o-linear-gradient(0deg, #fff, #FF5C61);
    background: linear-gradient(0deg, #fff, #FF5C61);
}

.filter-btn[data-filter="audio"]:hover,
.filter-btn[data-filter="audio"].filtered {
    background: -o-linear-gradient(217deg, #fff, #F6D972);
    background: linear-gradient(217deg, #fff, #F6D972);
}

.media-card[data-category="audio"].filtered,
.media-card[data-category="audio"].highlight {
    background: -o-linear-gradient(0deg, #fff, #F6D972);
    background: linear-gradient(0deg, #fff, #F6D972);
}

.filter-btn[data-filter="press"]:hover,
.filter-btn[data-filter="press"].filtered,
.filter-btn[data-filter="presse"]:hover,
.filter-btn[data-filter="presse"].filtered {
    background: -o-linear-gradient(217deg, #fff, #94D2BD);
    background: linear-gradient(217deg, #fff, #94D2BD);
}

.press-card[data-category="press"].filtered,
.press-card[data-category="press"].highlight,
.press-card[data-category="presse"].filtered,
.press-card[data-category="presse"].highlight {
    background: -o-linear-gradient(0deg, #fff, #94D2BD);
    background: linear-gradient(0deg, #fff, #94D2BD);
}

.press-card .card-front a.card-wrapper p {
    color: var(--txt-color);
}

.media-article {
    display: none;
    position: relative;
    min-height: calc(var(--doc-height) - var(--header));
}

.media-article.show-content {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-flow: row dense;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.media-title {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 0;
    padding: var(--marg-s);
    -ms-grid-column-span: 1;
    grid-column: span 1;
}

.media-content {
    position: relative;
    -ms-grid-column-span: 3;
    grid-column: span 3;
    outline: solid 1px var(--txt-color);
    padding: var(--marg-s) 0;
}

.media-content-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: var(--marg-s);
    padding: 0 var(--marg-s);
}

.svg-tag svg {
    display: block;
    width: var(--txt-small);
    stroke-width: 1.5px;
    stroke: var(--bg-color);
    mix-blend-mode: difference;
}

.media-content-close {
    cursor: pointer;
}

.media-content-close svg {
    display: block;
    width: var(--txt-small);
    stroke: var(--txt-color);
    stroke-width: 1.5px;
}

.svg-lecture svg,
.svg-podcast svg,
.svg-video svg,
.svg-audio svg,
.svg-press svg {
    display: block;
    width: var(--txt-small);
    stroke: var(--txt-color);
    stroke-width: 1.5px;
}

.svg-lecture,
.svg-podcast,
.svg-video,
.svg-audio,
.svg-press {
    display: none;
}

.media-content-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: .8rem;
}

.media-content-category:not(:last-of-type) {
    margin-bottom: .5rem;
}

.media-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--marg-s);
}

.video-wrapper video,
.content-text-image img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    vertical-align: baseline;
    border: solid 1px var(--txt-color);
}

.content-text-component,
.content-audio-component,
.content-video-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--marg-s);
}

.content-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--p-gap);
    padding: 0 var(--marg-s);
}

.content-text-image {
    padding: 0 var(--marg-s);
}

.content-audio-component {
    width: 75%;
    padding: 0 var(--marg-s);
}

/* audio/video players */

.audio-player,
.video-player {
    height: var(--header);
    display: none;
    gap: 1rem;
    align-items: center;
    border: solid 1px var(--txt-color);
    padding: var(--txt-small);
}

.audio-player {
    margin-top: .8rem;
}

.video-player {
    transform: translateY(-1px);
    background-color: var(--bg-color);
}

.video-player svg,
.audio-player svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    stroke: var(--txt-color);
    stroke-width: 1.5px;
    transition: all .5s ease;
}

.video-title {
    margin-top: .8rem;
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 var(--marg-s);
}

.play-btn {
    position: relative;
    cursor: pointer;
}

.play-icon.toggle-play {
    opacity: 0;
}

.pause-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.pause-icon.toggle-play {
    opacity: 1;
}

.stop-icon {
    opacity: 0;
    transition: opacity .5s ease;
}

.stop-icon.toggle-play {
    opacity: 1;
    cursor: pointer;
}

.audio-time {
    width: 144px;
    white-space: nowrap;
    text-align: center;
}

.audio-time span {
    white-space: nowrap;
}

input.seek-slider {
    position: relative;
    appearance: none;
    width: 100%;
    height: 8px;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: var(--txt-color);
}

input.seek-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    cursor: pointer;
}

input.seek-slider::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: var(--seek-before-width);
    height: 8px;
    background-color: var(--acc-color);
    cursor: pointer;
}

input.seek-slider::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 4px;
    background-color: var(--acc-color);
}

input.seek-slider::-moz-range-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 8px;
    background-color: var(--acc-color);
    border: none;
    border-radius: 0;
}

.audio-volume,
.fullscreen {
    position: relative;
    cursor: pointer;
}

.volume-icon.toggle-volume,
.fullscreen-icon.toggle-screen {
    opacity: 0;
}

.mute-icon,
.reducescreen-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.mute-icon.toggle-volume,
.reducescreen-icon.toggle-screen {
    opacity: 1;
}

.video-wrapper[data-fullscreen=true] video::-webkit-media-controls {
    display: none !important;
}

.video-wrapper.fullscreen {
    justify-content: center;
    background-color: var(--txt-color);
    cursor: initial;
}

.video-wrapper.fullscreen .video-player {
    background-color: var(--txt-color);
}

.video-wrapper.fullscreen svg {
    stroke: var(--bg-color);
}

.video-wrapper.fullscreen .audio-time {
    color: var(--bg-color);
}

.--mobile {
    display: none;
}

@media screen and (min-width: 3400px) {
    .menu-btn.scale {
        -webkit-transform: scale(300);
        -ms-transform: scale(300);
        transform: scale(300);
    }
}

@media screen and (max-width: 910px) {
    :root {
        --txt-large: calc(6vw + 2rem);
        --txt-medium: 1.4rem;
    }

    .grid-layout.four-columns {
        grid-template-columns: repeat(2, 50%);
    }

    .media-article.show-content {
        display: block;
    }

    .media-title {
        position: static;
    }
}

@media screen and (max-width: 720px) {
    :root {
        --header: auto;
        --sidenav: 40px;
    }

    .logo a {
        -webkit-filter: opacity(.8);
        filter: opacity(.8);
    }

    .logo h2 {
        opacity: 1;
        white-space: break-spaces;
    }

    .header {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .header-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .grid-layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 0px;
    }

    .grid-square {
        min-height: calc(var(--main-width) / 2);
    }

    .card-front,
    .card-back {
        width: 50%;
        height: auto;
    }

    .card-back {
        position: static;
        height: auto;
        background-color: var(--bg-color);
        border-left: solid 1px var(--txt-color);
        opacity: 1;
    }

    .card-back a,
    .card-back p {
        color: var(--txt-color);
    }

    .--txt-medium {
        hyphens: auto;
    }

    .--outline {
        margin-right: 0;
    }

    .gallery-btn {
        padding: var(--marg-s);
    }

    .--empty {
        display: none;
    }

    .media-card .card-back,
    .media-card .card-front {
        height: auto;
    }

    .media-card.unfiltered>.card-back {
        opacity: .2;
    }
}

@media only screen and (max-width: 600px) and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    :root {
        --bg-color: #1d1d1d;
        --txt-color: #fff;
        --txt-large: calc(2vw + 2rem);
        --txt-medium: 1.3rem;
        --txt-small: .9rem;
        --txt-ui: .7rem;
        --p-gap: .8rem;
        --marg-s: 1rem;
        --marg-m: 2rem;
    }

    .--title-large {
        padding-right: 0;
    }

    .cursor {
        visibility: hidden;
    }

    .cover--bg {
        background-position: 20% 0;
    }

    .logo a {
        -webkit-filter: opacity(1);
        filter: opacity(1);
    }

    .side-nav {
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: var(--sidenav);
        border-right: none;
        border-top: solid 1px var(--txt-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: var(--bg-color);
        padding: 0 var(--marg-s);
        mix-blend-mode: luminosity;
    }

    .menu-btn,
    .lang-btn {
        position: static;
    }

    .menu-btn {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .lang-btn {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .menu {
        padding-left: 0;
        padding-bottom: var(--sidenav);
    }

    .close-btn {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .logo {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .logo h1 {
        font-size: calc(8vw + 4rem);
    }

    .--blur {
        -webkit-filter: blur(.5px);
        filter: blur(.5px);
    }

    .logo h2 {
        font-size: 1rem;
        margin-top: var(--marg-s);
    }

    .header {
        padding-bottom: 0;
    }

    .site-subtitle {
        display: none;
    }

    .main {
        padding-left: 0;
        margin-bottom: var(--sidenav);
    }

    .card {
        min-height: var(--main-width);
    }

    .card-front a.card-wrapper p {
        color: var(--txt-color);
    }

    .press-card .card-front a.card-wrapper p {
        color: var(--bg-color);
    }

    .card-back {
        background-color: transparent;
    }

    .button-ui {
        opacity: 1;
        pointer-events: all;
    }

    .button-ui svg {
        height: 1rem;
    }

    .gallery-btn {
        display: none;
    }

    .image-wrapper img {
        max-width: 85vw;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    .logo-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .logo-wrapper.--desktop {
        display: none;
    }

    .logo-wrapper.--mobile {
        display: block;
    }

    .logo-wrapper.--logo-bg img {
        background-color: var(--txt-color);
        padding: 4px;
    }

    .logo-wrapper img {
        max-width: 100%;
        object-fit: contain;
        -webkit-filter: none;
        filter: none;
    }

    .footer {
        padding: 0 var(--marg-s);
    }

    .filtered {
        color: var(--bg-color);
    }

    .filtered .card-front p,
    .filtered .card-back p,
    .filtered .media-content-filter {
        color: var(--bg-color) !important;
    }

    .filtered .svg-lecture svg,
    .filtered .svg-podcast svg,
    .filtered .svg-video svg,
    .filtered .svg-audio svg,
    .filtered .svg-press svg {
        stroke: var(--bg-color);
    }

    .media-content {
        padding-bottom: var(--marg-m);
    }

    .svg-tag svg {
        stroke: var(--txt-color);
    }

    .content-audio-component,
    .audio-time {
        width: auto;
    }

    .media-card.highlight,
    .filter-btn:hover {
        background: none !important;
        color: var(--txt-color);
    }

    .audio-player {
        gap: 8px;
        border: none;
        padding: var(--txt-small) 0;
    }

    .video-wrapper.fullscreen {
        background-color: var(--bg-color);
        padding: 0 4rem;
    }
}