.media-article {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-flow: row dense;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@media screen and (max-width: 910px) {
    .media-article {
        display: block;
    }
}