.media-card[data-category="texte"],
.media-card[data-category="reading"],
.media-card[data-category="lecture"] {
    background: -o-linear-gradient(0deg, #fff, #C28AD1);
    background: linear-gradient(0deg, #fff, #C28AD1);
}

.media-card[data-category="video"] {
    background: -o-linear-gradient(0deg, #fff, #72A9F1);
    background: linear-gradient(0deg, #fff, #72A9F1);
}

.media-card[data-category="podcast"] {
    background: -o-linear-gradient(0deg, #fff, #FF5C61);
    background: linear-gradient(0deg, #fff, #FF5C61);
}

.media-card[data-category="audio"] {
    background: -o-linear-gradient(0deg, #fff, #F6D972);
    background: linear-gradient(0deg, #fff, #F6D972);
}

.press-card[data-category="press"],
.press-card[data-category="presse"] {
    background: -o-linear-gradient(0deg, #fff, #94D2BD);
    background: linear-gradient(0deg, #fff, #94D2BD);
}

@media only screen and (max-width: 600px) and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {

    .media-card .card-front p,
    .media-card .card-back p,
    .media-card .media-content-filter,
    .press-card .card-front p,
    .press-card .card-back p,
    .press-card .media-content-filter {
        color: var(--bg-color);
    }

    .media-card .svg-lecture svg,
    .media-card .svg-podcast svg,
    .media-card .svg-video svg,
    .press-card .svg-lecture svg,
    .press-card .svg-podcast svg,
    .press-card .svg-video svg {
        stroke: var(--bg-color);
    }
}